@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
@import "./_vars.scss";

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $dark-gray;
    min-height: 200vh;
    font-family: "Roboto", sans-serif;
}

button {
    background: inherit;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-family: inherit;
}

.container {
    padding: 84px 10px 0;
}
