@import "../../styles/vars";

.sidebar {
    height: 100vh;
    background: $dark-gray;
    border-right: 1px solid $light-gray;
    padding: 84px 5px 20px 5px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.3s ease;
    overflow: hidden;
    &__clean-button-container {
        padding-top: 20px;
    }
    &__tags-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.open {
    visibility: visible;
    width: 300px;
    @media screen and (max-width: 468px) {
        width: 100%;
    }
}

.closed {
    width: 0;
    padding: 0;
    visibility: hidden;
}
